<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/app.css"/>
    <link rel="stylesheet" href="/styles/footer.css"/>
    <title>Cars</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="app-container">
</div>

<div th:include="fragments/footer :: footer"></div>
</body>
</html>