<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/app.css"/>
    <link rel="stylesheet" href="/styles/footer.css"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="app-container">
    <div class="text-center">
    <img class="text-center" width="80%" height="50%" src="/images/403_Error.png"/>
    </div>
    </div>
<div th:include="fragments/footer :: footer"></div>
</body>

</html>