<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Customer</title>
</head>
<body>
<table border="1" style="border: black">
    <tr>
        <th>Customer Name</th>
        <th>Bought Cars Count</th>
        <th>Total Spent Money</th>
    </tr>
    <th:block th:each="customer : ${customers}" th:object="${customer}">
            <tr>
                <td><p th:text="*{name}"></p></td>
                <td><p th:text="*{boughtCars}"></p></td>
                <td><p th:text="*{totalSpentMoney}"></p></td>
            </tr>
    </th:block>
</table>
</body>
</html>