<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../bootstrap.min.css"/>
    <title>Edit Customer</title>
</head>
<body>
<th:block th:if="${error!=null}">
    <p style="color: red" th:text="${error}"></p>
</th:block>
<form class="container-fluid" style="width: 40%;float:left;" th:action="@{/customers/edit/{id}(id=*{id})}" th:method="POST" th:object="${customer}">
    <div class="form-group">
    <label th:for="name">Name: </label> <input class="form-control" th:field="*{name}" th:value="*{name}" th:id="name" th:type="text"/><br/>
    </div>
    <div class="form-group">
    <label th:for="newBirthdate">BirthDate: </label> <input class="form-control" th:field="*{birthDate}" th:value="*{birthDate}" th:id="newBirthdate" th:type="text"/><br/>
    </div>
    <button class="btn btn-primary" th:type="submit">Edit</button>
</form>
</body>
</html>