<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Customers</title>
</head>
<body>
    <a href="/">Index</a><br/>
    <a href="/customers/add">Add</a>
    <table border="1" style="border: black">
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Is Young Driver</th>
            <th>Actions</th>
        </tr>
        <th:block th:each="customer : ${customers}" th:object="${customer}">
            <tr>
                <td><p th:text="*{getName()}"></p></td>
                <td><p th:text="*{getBirthDate()}"></p></td>
                <td><p th:text="*{isYoungDriver()}"></p></td>
                <td><a th:href="@{/customers/edit/{id}(id=*{id})}">Edit</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>